
#equipo header>form input:first-of-type{
	margin-left:30%;
}

#equipo header>form input:last-of-type {
	width: 50%;
}


#equipo main>div:first-of-type{
	background-image: url(../images/equipo.jpg);
	background-repeat: no-repeat;
	background-color: #009c58;
	background-position: right 25%;
	margin-top: 75px;
	height: 330px;
}

#equipo main>div:first-of-type> img{
	border-radius: 50%;
	margin-left: 50px;
	margin-top: 50px;
}

#equipo main>div:first-of-type> h2{
	color: #FFF;
	font-size: 1.8em;
	margin-left: 15px;
	font-style: italic;
}

#equipo main > div ~ div {
	padding: 0%;	
}

#equipo main> div~div >h3 {
	background-color:#e0e0e0;
	vertical-align: top;
	font-size: 2em;
	line-height: 3em;
	color: #e48d10;
	background-image: url(../images/torneoEscudo.png);
	background-repeat: no-repeat;
	background-position: 5% 0%;
	text-align: center;
	
}
#equipo main> div~div >div{
	display: flex;
	flex-direction: row ;
	padding-top: 10px;
}

#equipo main> div~div >div>div table {
	width: 90%;
	margin-left: 30px;
	margin-top: 5%;
	background-color: #e0e0e0;
	text-align: center;
}

#equipo main> div~div >div>div table  thead,
#equipo main> div~div >div>div table  tbody,
#equipo main> div~div ~div >div>div h3{	
	color: #FFF;
	font-size: 1.2em;
	line-height: 1.5em;
	background-color: #009c58;
}

#equipo main> div~div >div>div table  tbody tr td:first-of-type{
	text-align: left;
	padding-left: 10%;
}

#equipo main> div~div >div>div table  tbody{
	color: #000;
	background-color: #e0e0e0;
	border: 0px;
	
}

#equipo main> div~div >div>div table  tbody  tr {
	line-height: 2em;
}

#equipo main> div~div >div>div table  tbody  tr:nth-child(even) {
	background-color: #b2adad;
}

#equipo main> div~div >div>div table  tbody  #miEquipo {
	background-color: #706d6d;
	color:#FFF;
}
	
#equipo main> div~div >div>div~div {
	background-color:#a6dba2;
	margin-left: 50px;
	margin-top: 40px;
	vertical-align: top;
}	

#equipo main> div~div >div>div~div h3{
	color: #FFF;
	font-size: 1.5em;
	line-height: 2em;
	text-align: center;
}

#equipo main> div~div >div>div~div img{
	border-radius: 45%;
	margin-left: 8%;
}

#equipo main> div~div >div>div~div p{
	color:#FFF;
	display:inline-block;
	vertical-align: bottom;
	font-weight: bold;
	padding-bottom: 30px;
	font-size: 2em;
	margin-left: 20px;
}

#equipo main> div~div >div>div~div p~p{	
	padding-bottom: 0px;
	font-weight: normal;
	margin-top: 10px;
	font-size: 1em;
	padding-left: 20px;	
	margin-left: 0px;	
	color: #000;
	width: 49%;
}

#equipo main> div~div >div>div~div p~p~p{	
	padding-right: 20px;	
	text-align: right;
}


#equipo main> div~div >div>div~div p~p~p~p{	
	text-align: left;
	width: 100%;
	color: #FFF;
	line-height: 2em;
}

#equipo main> div~div >div>div~div img ,
#equipo main> div~div~div >div>div~div img {
	border-radius: 50%;
	margin-left: 30px;	
}
#equipo main> div~div >div>div~div img:last-of-type {
	border-radius: 0%;
	margin-left: 10px;	
}
}

#equipo main> div~div ~div >div>div h3,
#equipo main> div~div ~div >div>div ul{
	width: 550px;
	margin-bottom: 0px;
	margin-left: 45px;
}

#equipo main> div~div ~div >div>div h3 {
	line-height: 50px;
	height: 50px;
	width: 100%;
	margin: 0px;
}

#equipo main> div~div ~div >div>div ul{
	background-color: #e0e0e0;
	border: 0px;	
}

#equipo main> div~div ~div >div>div ul li {
	color: #000;
	font-size: 1.2em;
	text-align: left;
	padding-left: 20px;
	margin: 0px;
	width: 100%;
	vertical-align: top;
}


#equipo main> div~div ~div >div>div ul li span{
	vertical-align: top;
	line-height: 75px;
	display: inline-block;
	margin-left: 20px;
}

#equipo main> div~div ~div >div>div ul li a{
	
	background-color:#e48d10;
	border: outset 1px #FFF;	
	border-radius: 0%;	
	text-decoration: none;
	color: #FFF;
	width: 150px;
	display: inline-block;
	height: 30px;
	margin-left:20px;
	font-size: 0.8em;
	line-height: 2em;
	text-align: center;
	text-transform: uppercase;
	box-shadow: 0px 0px 0px black;
	padding-top: 0px;
	display: inline-block;
	vertical-align: top;
	margin-top: 25px;
}

#equipo #capitan {
	background-image: url(../images/cinta.png);
	background-repeat: no-repeat;
	background-position: right center;
	width: 250px;
}


#equipo main> div~div  >div>div ul li:nth-child(even) {
	background-color: #b2adad;
	
}
	
#equipo main > div ~ div ~ div > div ~ div > div{
		margin-left: 0px;
		width: 40%;
}

#equipo main > div ~ div ~ div > div > div ~ div {
	margin: 0px;
	margin-left: 40px;
	width: 43%;
	background-color: #FFF;
}
	
#equipo main > div ~ div ~ div > div > div ~ div > div{
	width: 400px;
	height: 300px;
	margin-left: 80px;
	background-color: #a6dba2;
}	
	
#equipo main > div ~ div ~ div > div > div  ~ div h3 {
	width: 100%;
	margin-left: 0px;
	background-color: rgba(0,0,0,0);
}	

#equipo main > div ~ div  ~ div > div > div ~ div p ~ p {
	text-align: right;
	padding-right: 40px;

}
#equipo main > div ~ div  ~ div > div > div ~ div p ~ p  ~ p {
	text-align: left;
	padding-left: 75px;
}

#equipo main > div ~ div  ~ div > div > div ~ div a{
	
	background-color:#e48d10;
	border: outset 2px #FFF;	
	border-radius: 0%;	
	text-decoration: none;
	color: #FFF;
	width: 250px;
	display: inline-block;
	height: 60px;
	margin-left:20px;
	font-size: 0.8em;
	line-height: 2em;
	text-align: center;
	text-transform: uppercase;
	box-shadow: 0px 0px 0px black;
	padding-top: 0px;
	display: inline-block;
	vertical-align: top;
	margin-top: 25px;
}

#equipo main > div ~ div  ~ div > div {
	display: block;
	margin-top: 20px;
}
	
#equipo > main > div:last-of-type {	
	vertical-align: top;
	height: 650px;
}



#companeros>div >div  { display: none; }
#companeros>div >div:target{  display: block;	}


#companeros >div >div{  
	width: 100%;
	height: 100%;
	position: fixed;
	right:0px;
	bottom: 0px;
	z-index:20;
	background-color: rgba(000,000,000,0.6);			
}

#mensajeModal >div {
	width: 40%;
	height: 80%;
	margin-left: 27%;
	margin-top: 3%;
	z-index: 20;
	background-color:#e0e0e0;
}

#mensajeModal >div >div:first-of-type{
	background-color:#009c58;
	color: #FFF;
	text-decoration: none;
}

#mensajeModal >div >div h2{
	display: inline-block;
	margin-left: 5%;
	font-size: 1.5em;
	line-height: 2em;
}

#mensajeModal >div >div a{
	background-image: url(../images/x.png);
	background-position: 5%;
	background-repeat: no-repeat;
	color: rgba(000,000,000,0);	
	height: 30px;
	width: 30px;
	float: right;
	margin-right: 2%;
	margin-top: 2%;
	background-color: rgba(000,000,000,0);
	border: 0px ;	
	box-shadow: 0px 0px 0px black;
}

#mensajeModal >div >div:last-of-type {
	margin-top: 0%;
}
	
#mensajeModal >div >div:last-of-type textarea{
	width: 80%;
	margin-top: 3%;
	margin: 0%;
	font-size: 1em;
	line-height: 1.8em;
}

main > div > div form {
	margin: 0px;
}
#mensajeModal >div >div:last-of-type form>input:last-of-type{
	background-color:#e48d10;
	border: outset 1px #FFF;	
	border-radius: 10%;	
	text-decoration: none;
	color: #FFF;
	width: 50%;
	display: inline-block;
	height: 50%;
	margin-left:25%;
	vertical-align: bottom;
	font-size: 1.5em;
	text-align: center;
	box-shadow: 10px 5px 5px black;
	background-image: none;
}