body{
    margin:0;
    background: url('../img/fondo.jpg');
}

#todo {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.1);

}

header{
    height: 290px;
    background: url('../img/portada.jpg');
    position:relative;
}

#usr{
    padding: 0px;
}

#usuario{
    background-color: black;
    color: white;
    height: 24px;
    position:relative;
    top: 0;
    left: 0;
}

#usuario div{
    display: inline;
    margin: 0px;
}

#usuario label{
    margin: 0 4px;
}

#usuario label a{
   text-decoration: none;
    font-size: 1em;
    color:white;
}
#usuario p{
    color:#330099;
    margin:0;
    padding:0;
    font-size: 1em;
    display: inline-block;
    margin-right: 160px;
}
#usuario form{
    display: inline-block;
    margin-right: 50px;

}

#usuario a{
    display: inline-block;
    text-decoration: none;
    color: white;
}


input{
    width: 80px;
    margin: 4px 0;
    background-color: lightgrey;
    border: 0px;
    
}

nav{
	height: auto;	
	background-color: black;
	margin: auto;
	padding:1px 0 2px 0;
    position:absolute;
    bottom: 0;
    width: 100%;
}

nav > ul {
	display: inline-block;
	list-style-type: none;
	color: white;
}

nav ul li {
	margin: 0 1em;
	padding: 0px ;
    display: inline;
	text-align:center;
	font-family: formula;
	font-size:20px;	
	color: white;
    
}

nav ul li a {
    
	text-decoration: none;
	color:white;
}

	
nav ul li a:hover {
    
	color:black;
	background: white;
	
}

nav h1 a{
	display: inline-block;
	font-family: gill;
	font-size: 60px;
	padding: 0px;
	margin:0px 0px -50px 0px;
	color: white;
	text-decoration: none;
}	

aside {
    width: 26%;
    margin-left: 2%;
    margin-right: 0.3%;
    margin-top: 3%;
    padding: 1%;
    height: 250px;
    display:inline-block;
    vertical-align: top;
    background-color: black;
    
}

aside ul{
    
}

aside ul li{
    margin: 1em 0;
    list-style-type: none;
    font-size: 1em;
    font-family: formula;

}

aside ul li a{
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
    color:white;
}

aside ul li a:hover{
        border-bottom: 10px solid red;
}

#activo{
        border-bottom: 10px solid red;
}


main {
    width:66%;
    padding: 1%;
    height: auto;
    display: inline-block;
}

/***** ARTICULOS ******/

article{
    width: 100%;
    height: 200px;
    margin: 1em 0;
    padding: 1% 0;
    background-color: white;
    border: 1px solid black;
    position: relative;
    border-box: 1px solid black;
}

article img{
    width: 100px;
    padding: 8% 2%;
}

.info{
    display: inline-block;
    width: 70%;
    vertical-align: top;
    padding: 1em;
    margin: 0;

}

.info h1{
    font-family: formula;
}

.info h1 a{
    text-decoration: none;
    color: black;
}

.categoria{
    padding: 1em;
    background-color: #000066;
    position: absolute;
    top: -20px;
    right: -10px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: white;
    box-shadow: 3px 3px grey;
}

.precio{
    text-align: right;
}

#imagen_a{
    text-align: center;
}

#imagen_a img{
    width:300px;
    padding: 0;
}

.art_a{
    
    border: 0;
    box-shadow: 0 0;
    height: auto;
    margin-top: 3%;

    padding: 1%;
}
.titulo_a{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    
}
.categoria_a{
    display:inline-block;
    margin-left: 100px;
}

.precio_a{
    font-size: 2em;
    text-align: right;
    font-family: 'Roboto', sans-serif;
}

#comentario{
    border-top: 1px solid black;
}
.desc_a{
    border-top: 1px solid black;
    padding-top: 2em;
    font-family: 'Roboto', sans-serif;
}

#comentario textarea{
    width: 95%;
    margin-left: 2%;
}

#comentario p{
    margin: auto;
    padding: 0.5em 0;
    display: inline-block;
}
#comentario .pregunta{
    padding-top: 0.5em;
}
#comentario .rta{
    padding-left: 1em;
    padding-bottom: 0.5em;
}

#comentario .pregunta p{
    padding: inherit;

}

#comentario i {
    display: inline-block;
    padding-right: 0.5em;
}




#slider{
    margin:0;
    padding: 0;
    width: 100%;
}
#slider img{
	display: none;
}
#slider img:nth-child(1){
	display: block;
}

footer{
    font-family: 'Roboto', sans-serif;
    color:white;
    background-color: black;
    text-align: center;
    margin-bottom: 0;
}

footer p{
    margin-bottom: 0;
}

#about p,h2,h3{
    padding-left: 20px;
}

#about h2 {
    font-family: Roboto;
}
#about {
    background-color: white;
}
#about img{
    width: 60%;
    padding-left: 20px;
    margin-left: auto;
    
}